*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, select, textarea {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input[type='color'] {
  outline: none;
  -webkit-appearance: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
}

input[type='color']::-moz-color-swatch {
  border: none;
}

input[type='color']::-moz-focus-inner {
  border: 0;
}

body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
  font-size: clamp(0.9rem, calc(0.98rem + 0.13vw), 1.13rem);
  color: hsl(0, 0%, 99%);
}

.btn-hover-transition {
  filter: brightness(0.9);

  transition: 0.12s;
}

.btn-hover-transition:hover,
.btn-hover-transition:focus-within {
  filter: brightness(1.05);
  scale: 1.03;

  transition: 0.12s;
}

/***---HEADER---***/

header {
  position: relative;
  z-index: 1;
  background-color: hsl(199, 13%, 18%);
}

.header-wrapper {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
  box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.4);
}

.logo-container {
  display: flex;
  align-content: center;
  height: 5vh;
}

.logo {
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-btn {
  display: none;
  color: hsl(198, 100%, 50%);
  font-size: 2.5rem;
  transform-origin: left;
}

.hamburger-btn > i {
  position: relative;
  top: calc(clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem) * 0.25);
}

.login-btn {
  border-radius: 10px;
  padding-block: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
  padding-inline: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);

  font-size: calc(clamp(1.13rem, calc(1.05rem + 0.37vw), 1.5rem) * 0.9);
  font-weight: bold;
  letter-spacing: 1px;

  color: hsl(0, 0%, 17%);
  background-color: hsl(198, 100%, 50%);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

/***---MAIN---***/

main {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, clamp(15rem, 20vw, 25rem)) 3fr;

  background-color: hsl(199, 13%, 33%);
  height: 100%;
}

.title {
  font-size: clamp(1.13rem, calc(1.05rem + 0.37vw), 1.5rem);
  font-weight: bold;
  letter-spacing: 0.66px;
  color: hsl(0, 0%, 99%);
}

input[type='text'],
input[type='search'],
textarea {
  padding: 0.33rem;
  padding-left: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  color: hsl(0, 0%, 99%);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

/***---SIDEBAR---***/

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: clamp(1rem, calc(0.86rem + 0.69vw), 1.69rem);
  padding-inline: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  background-color: hsl(199, 13%, 22%);
}

.list-sidebar {
  box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.2);
}

.active-todo-sidebar {
  box-shadow: -6px 0px 12px rgba(0, 0, 0, 0.15);
}

.sidebar input {
  width: 100%;
}

.preset-lists-container,
.list-container {
  display: flex;
  flex-direction: column;
  margin-block: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);

  width: 100%;
  gap: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
}

.preset-list-card,
.list-card {
  display: flex;
  align-items: center;
  padding: calc(clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem) * 0.5);
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.22);
  color: hsl(0, 0%, 80%);
}

.preset-list-card:hover,
.list-card:hover {
  background-color: hsla(0, 0%, 0%, 0.44);
}

.list-sidebar button {
  background-color: rgba(255, 255, 255, 0);
  color: hsl(0, 0%, 99%);
}

.list-container {
  flex-grow: 1;
}

.lists-wrapper {
  height: 76vh;
  width: 100%;
  margin-block: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  padding-inline: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  overflow-y: auto;
}

.list-sidebar .swap-btn {
  text-align: left;
  padding-left: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  width: 100%;
}

.list-card {
  display: flex;
}

.list-card .total-tasks-wrapper {
  position: relative;

  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 99px;
  height: 1.2rem;
  aspect-ratio: 1 / 1;
}

.list-card .total-tasks {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-60%, -45%);

  color: hsl(0, 0%, 50%);
  font-weight: 900;
  font-size: calc(clamp(0.63rem, calc(0.82rem + -0.16vw), 0.79rem) * 1.1);
  text-align: center;
  letter-spacing: -1px;
}

.list-card .delete-btn {
  padding-inline: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
  color: hsl(0, 0%, 50%);
}

/***---ACTIVE LIST---***/

.active-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
}

.category-container {
  margin-bottom: clamp(1.5rem, calc(1.35rem + 0.75vw), 2.25rem);
  width: clamp(15rem, 66vw, 50rem);
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);

  padding-block: calc(clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem) * 0.5);
  padding-inline: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  margin-block: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.category-container .fa-angle-down {
  transition: transform 0.16s;
}

.category-container.hidden .fa-angle-down {
  transform: rotate(-90deg);

  transition: transform 0.16s;
}

.category-container.hidden .tasks {
  display: none;
}

.todo-container {
  isolation: isolate;
  flex-grow: 1;
  max-height: 80vh;
  overflow-y: auto;
  gap: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
  padding-inline: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
}

.complete-container,
.incomplete-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.complete-container > * {
  filter: brightness(0.8);
}

.complete-container .task-title {
  text-decoration: line-through;
}

.complete-container .past-due {
  color: hsl(0, 0%, 66%);
}

.todo-card:not([data-color='neutral']):before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.todo-card,
.step-card {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  padding-block: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);

  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.todo-card:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.check-box {
  scale: 1.2;
  margin-right: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  color: hsl(0, 0%, 80%);
}

.complete-task {
  position: relative;
  display: flex;
  align-items: center;
  color: hsl(198, 100%, 42%);
}

.todo-card-task-wrapper {
  letter-spacing: 0.66px;
}

.task-details-wrapper {
  display: flex;
  font-size: clamp(0.75rem, calc(0.9rem + 0.04vw), 0.95rem);
  gap: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  color: hsl(0, 0%, 66%);
  letter-spacing: 0.66px;
}

.past-due {
  color: hsl(0, 72%, 62%);
}

.priority {
  margin-left: auto;
  color: hsl(0, 0%, 80%);
}

.priority > .fa-solid {
  color: hsl(49, 100%, 50%);
}

/*Todo Input*/

.todo-input {
  display: flex;
  gap: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);

  background-color: rgba(0, 0, 0, 0.33);
  padding: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
  border-radius: 10px;
}

.todo-input > * {
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.33);
}

.input-wrapper {
  position: relative;
  width: clamp(13rem, 10rem + 33vw, 35rem);
  height: 2.5rem;
}

.input-wrapper > input {
  width: 100%;
  height: 100%;
}

.input-wrapper > .date-input-wrapper {
  position: absolute;
  right: 0;
  top: 0;

  border-radius: 10px;
}

.date-input-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 2.5rem;
}

.calendar-icon-wrapper {
  isolation: isolate;
  position: relative;
  height: 100%;
}

.calendar-icon-wrapper > img {
  display: none;
  height: 100%;
}

.calendar-icon-wrapper > img.active {
  display: block;
}

.calendar-icon-wrapper > .calendar-month,
.calendar-icon-wrapper > .calendar-day {
  z-index: 1;
  position: absolute;
  display: none;
  font-weight: bold;
  top: 50%;
  left: 50%;
}

.calendar-icon-wrapper:has(.calendar-no-grid.active) > .cal-date {
  display: block;
}

.calendar-icon-wrapper > .calendar-month {
  font-size: clamp(0.63rem, calc(0.82rem + -0.16vw), 0.79rem);
  scale: 0.9;
  transform: translate(-50%, -115%);
}

.calendar-icon-wrapper > .calendar-day {
  color: black;
  transform: translate(-50%, -27%);
}

.hidden-date-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hidden-date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-selector {
  position: relative;
  height: 100%;
  width: 3.24rem;
}

.color-selector.no-selection {
  background-image: linear-gradient(
    to right,
    #f1a3bb,
    #f4c4a9,
    #f2ee8f,
    #96d470,
    #959fef,
    #ac68d7
  );
}

.color-selector:focus-within .color-selector-menu {
  display: grid;
}

.color-selector-menu {
  position: absolute;
  display: none;
  gap: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
  left: 50%;
  transform: translate(calc(-50%), -115%);

  background-color: hsl(0, 0%, 80%);
  border-radius: 10px;
  padding: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
}

.color-selector-menu::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent hsl(0, 0%, 80%) hsl(0, 0%, 80%);
  border-radius: 0px 0px 0px 4px;
}

.color-input-wrapper {
  display: flex;
  gap: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
}

.color-input-wrapper > *,
.presets > *,
.color-selector-menu {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.color-input {
  width: calc(1.5rem * 2 + clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem));
  height: 1.5rem;

  border: 2px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.cancel-color {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: red;
  font-size: 1.4rem;
}

.cancel-color > i {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.33));
}

.presets {
  display: flex;
  flex-wrap: wrap;
  width: calc((1.5rem + clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem)) * 3 - clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem));
  gap: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
}

.preset {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

/***---TODO DETAILS SIDEBAR---***/

.details-card {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}

.task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  background-color: rgba(0, 0, 0, 0.3);
  padding: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  border-radius: 10px;
}

.task-wrapper {
  display: flex;
  align-items: center;
}

#active-steps-container {
  display: flex;
  flex-direction: column;

  gap: 0.25rem;
  padding-bottom: 0.5rem;
}

.step-delete-btn {
  margin-left: auto;
}

.settings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  padding-left: clamp(1rem, calc(0.86rem + 0.69vw), 1.69rem);
  border-radius: 10px;
}

.settings-wrapper .date-input-wrapper,
.settings-wrapper .color-selector {
  margin-left: auto;
  border-radius: 10px;

  width: 2.5rem;
  aspect-ratio: 1 / 1;
}

#task-note {
  width: 100%;
  height: 20%;
  resize: vertical;
  background-color: rgba(0, 0, 0, 0.3);
}

.active-todo-sidebar #task-delete {
  margin-top: auto;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  border-radius: 10px;
  cursor: pointer;
}

.active-todo-sidebar {
  position: absolute;
  width: clamp(15rem, 5rem + 15vw, 25rem);
  height: 100%;
  right: 0;

  display: none;
}

.active-todo-sidebar.active {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);

  display: none;
}

.overlay.active {
  display: block;
}

/***---FOOTER---***/

body {
  /* footer support */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

footer {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: var(--spacing-xs);
  padding-top: var(--spacing-xl);
  background-color: hsl(199, 13%, 18%);
}

#copyright {
  font-size: 1.24rem;
  font-weight: 700;
  text-decoration-line: none;
  letter-spacing: 0.5px;
  color: hsl(0, 0%, 66%);
}

.fa-github {
  font-size: 1.38rem;
  transition: transform 0.4s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/***---SCROLLBAR---***/

/* WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar on horizontal containers */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Background color of the track */
  border-radius: 10px;
}

/* Thumb (the actual scroll handle) */
::-webkit-scrollbar-thumb {
  background-color: hsl(198, 100%, 50%); /* Background color of the thumb */
  border-radius: 10px;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(191, 100%, 33%);
}

/* Firefox */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f0f0f0; /* Thumb color and track color */
}

/***---MEDIA QUERIES---***/

@media screen and (max-width: 37.5em) {
  .header-wrapper {
    padding-inline: clamp(2rem, calc(1.73rem + 1.38vw), 3.38rem);
  }

  .logo-container {
    height: 4vh;
  }

  .hamburger-btn {
    display: block;
  }

  main {
    display: flex;
    justify-content: center;
  }

  .list-sidebar {
    z-index: 1;
    position: absolute;
    width: 17.5rem;
    height: 100%;
    left: 0;

    display: none;
  }

  .list-sidebar.active {
    display: flex;
  }

  .category-container {
    width: clamp(15rem, 90vw, 50rem);
  }
}
